@import ../../../styles/helpers

.leaderboardSection
    height: 130vh
    width: 100%
    display: flex
    flex-direction: column
    +m
        height: 110vh

.box
    margin-left: 10px

.stage
    display: flex
    +poppins 
    text-transform: uppercase
    height: 7vh
    margin-bottom: 20px
    font-size: 45px
    +d
        font-size: 25px
    +t
        font-size: 25px
    +m
        font-size: 25px

.topSection
    width: 100%
    display: flex
    justify-content: center

.bottomSection
    width: 100%
    height: 65%

.bothLeaderboard
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
