@import ../../styles/helpers

.aboutPageContainer

.teamContainer
    background: #000
    width: 100%
    padding-top: 250px
    display: flex
    justify-content: center
    align-items: center
    padding-bottom: 100px

.teamContainer span
    position: absolute
    top: 180%
    height: 200px
    width: 2px
    background: #88000081
