@import ../../styles/helpers

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Ubuntu', sans-serif

.usercontainer
    display: inline-flex
    +x 
        margin-top: 10px
    +m 
        display: none

.header
    position: relative
    z-index: 20
    height: 60px
    border-bottom: 2px solid $neutrals6
    +m
        padding: 10px 0 24px
        margin-bottom: 15px
        border: none
    +dark
        border-color: $neutrals3
        
.container
    display: flex
    align-items: center
    margin-top: 20px
    & > .button
        margin-left: -150px
        margin-right: 12px
        +m
            display: none

.logo
    position: relative
    z-index: 12
    display: inline-block
    flex-shrink: 0
    width: 128px
    margin-right: 32px
    +d
        margin-right: auto
    img
        width: 100%
    
.wrapper
    display: flex
    align-items: center
    flex-grow: 1
    +d
     &.active 
        position: absolute
        top: 0
        left: 0
        right: 0
        flex-direction: column
        align-items: stretch
        height: 100vh
        margin: 0
        padding: 140px 32px 40px
        box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.2)
        background: $neutrals8
        visibility: hidden
        opacity: 0
        transition: all .2s
        visibility: visible
        opacity: 1
        +dark
            background: $neutrals1
    +m
        position: absolute
        top: 0
        left: 0
        right: 0
        flex-direction: column
        align-items: stretch
        height: 100vh
        margin: 0
        padding: 140px 32px 40px
        box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.2)
        background: $neutrals8
        visibility: hidden
        opacity: 0
        transition: all .2s
        +dark
            background: $neutrals1
        &.active
            visibility: visible
            opacity: 1
    .button
        display: none
        +m
            display: none
            margin-top: 16px


.nav
    display: flex
    margin-right: auto
    +d
        display: none
    +m
        display: flex
        flex-direction: column
        margin: 0 0 40px
        border: none
    +dark
        border-color: $neutrals3

.link
    position: relative
    float: right
    flex-shrink: 0
    padding-left: 350px
    +dm-sans
    line-height: 40px
    color: $neutrals4
    transition: color .2s
    &.active
        display: flex
        flex-direction: column
        margin-top: 200px
        margin-left: -550px
        font-size: 27px
        &:hover
            border: none
    +w 
        position: absolute
        padding-left: 0px
        top: 0
        left: 580px
    +m
        display: flex
        flex-direction: column
        margin-top: 200px
        margin-left: -550px
        font-size: 27px
        &:hover
            border: none
       
    
.navlinks 
  color: #fff
  text-decoration: none
  padding-bottom: 25px
  margin-right: 10px
  &:active
    border-bottom: 4px solid #fc4e03
  &:hover
    border-bottom: 4px solid #fff
    transition: all 0.2s ease-out



.search
    position: absolute
    flex-shrink: 0
    width: 256px
    margin-right: 24px
    top: 10px
    +d 
        left: 225px
    +t
        display: none
        &.active
            display: block
            width: 350px
            left: 140px
            top: 140px
    +m
        display: block
        width: 350px
        left: 160px
        top: 140px
    +s  
        left: 30px
        width: 250px

.input
    width: 100%
    height: 40px
    padding: 0 42px 0 16px
    background: none
    

.result
    position: absolute
    top: 0px
    right: -60px
    bottom: 0
    width: 42px
    +m 
        right: -85px
    +s  
        right: -65px
    svg
        fill: $neutrals4
        transition: fill .2s
    &:hover
        svg
            fill: #f55a00

.notification
    display: none
    margin-right: 24px
    +m
        margin-right: 20px

.burger
    display: none
    +d
        display: block
        position: relative
        margin-left: 20px
        width: 32px
        height: 32px
        background: none
        -webkit-tap-highlight-color: rgba(0,0,0,0)
        &.active
            &:before
                transform: translateY(0) rotate(-45deg)
            &:after
                transform: translateY(0) rotate(45deg)
        &:before,
        &:after
            content: ''
            position: absolute
            top: 16px
            left: 6px
            width: 20px
            height: 2px
            background: $neutrals4
            border-radius: 2px
            transition: transform .2s
        &:before
            transform: translateY(-4px)
        &:after
            transform: translateY(3px)

li
    display: inline-block
    padding: 7px
    span
    color: $neutrals2
    transition: color .2s
    font-weight: 600
    +dark
        color: $neutrals7
    &.active
        position: absolute
        right: 60px
        font-size: 30px
        top: 200px
        &:nth-child(2)
            top: 300px
            right: 390px
        &:nth-child(3)
            top: 350px
            right: 460px
    
            
    

.mobileview
    display: none
    
    +m 
        display: block


.mobilebutton
    display: none
    +m
        display: block
        margin-top: 250px
        padding-top: 10px




        



       


