@import ../../styles/helpers

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Ubuntu', sans-serif
.header
    position: relative
    display: flex
    align-items: center
    padding: 0px 100px 0px 50px

    // z-index: 20
    height: 90px
    border-bottom: 2px solid $neutrals5
    +m
        padding: 10px 0 24px
        margin-bottom: 15px
        border: none
    +dark
        border-color: $neutrals3
        
.container
    display: flex
    width: 100%
    align-items: center
    & > .button
        // color: $neutrals3
        // margin-left: -150px
        // margin-right: 12px
        +poppins 
        text-transform: uppercase
        +m
            display: none

.logo
    width: 14%
    // text-align: end
.pic
    // margin-left: 120px
    width: 200px
    // margin-right: 32px
    // +d
    //     margin-right: auto
    //     margin-bottom: -10px
// Search and Nav Container
.wrapper
    display: flex
    align-items: center
    width: 35%
    // +d
    //  &.active 
    //     position: absolute
    //     top: 0
    //     left: 0
    //     right: 0
    //     flex-direction: column
    //     align-items: stretch
    //     height: 100vh
    //     margin: 0
    //     padding: 140px 32px 40px
    //     box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.2)
    //     background: $neutrals8
    //     visibility: hidden
    //     opacity: 0
    //     transition: all .2s
    //     visibility: visible
    //     opacity: 1
    //     +dark
    //         background: $neutrals1
    // +m
    //     position: absolute
    //     top: 0
    //     left: 0
    //     right: 0
    //     flex-direction: column
    //     align-items: stretch
    //     height: 100vh
    //     margin: 0
    //     padding: 140px 32px 40px
    //     box-shadow: 0px 64px 64px rgba(31, 47, 70, 0.2)
    //     background: $neutrals8
    //     visibility: hidden
    //     opacity: 0
    //     transition: all .2s
    //     +dark
    //         background: $neutrals1
    //     &.active
    //         visibility: visible
    //         opacity: 1
    // .button
    //     display: none
    //     +poppins 
    //     text-transform: uppercase
    //     +m
    //         display: none
    //         margin-top: 16px

// Search\
.search
    // position: relative
    width: 256px
    height: 40px
    padding: 15px
    margin-right: 50px
    border-radius: 15px
    border: 2px solid $neutrals5
    display: flex
    align-items: center
    // justify-content: center
    // +d 
    //     left: 275px
    // +t
    //     display: none
    //     &.active
    //         display: block
    //         width: 350px
    //         left: 140px
    //         top: 140px
    // +m
    //     position: relative
    //     display: block
    //     width: 72vw
    //     margin-left: -270px
    //     margin-right: 450px
    // +a 
    //     width: 71vw
    // +s  
    //     width: 69vw
.inputComponentContainer
    width: 100%
    height: 100%

// .result
//     position: absolute
//     top: 0px
//     right: -60px
//     bottom: 0
//     width: 42px
//     +m 
//         right: -18vw
//     +s  
//         right: -17vw
//     svg
//         fill: $neutrals4
//         transition: fill .2s
//     &:hover
//         svg
//             fill: #f55a00

.input
    width: 100%
    height: 100%
    background: none
   
.button
    margin-right: 15px
    +poppins 
    text-transform: uppercase
    +dark 
        color: $neutrals6
    +d 
        margin-top: -5px

.nav
    display: flex
    // margin-right: auto
    +d
        display: none
    +m
        display: flex
        flex-direction: column
        margin: 0 0 40px
        border: none
    +dark
        border-color: $neutrals3

.link
    // position: relative
    // float: right
    // flex-shrink: 0
    display: flex
    +dm-sans
    // line-height: 40px
    color: $neutrals4
    // max-width: 600px
    transition: color .2s
    &.active
        display: flex
        flex-direction: column
        margin-top: 200px
        margin-left: -550px
        font-size: 27px
        &:hover
            border: none
    +w 
        position: absolute
        padding-left: 0px
        top: 0
        left: 620px
    +m
        display: flex
        flex-direction: column
        margin-top: 230px
        margin-left: -585px
        font-size: 27px
        &:hover
            border: none
    
    
.navlinks 
  color: $neutrals1
  text-decoration: none
  margin-right: 10px
  padding-bottom: 3px
  width: 400px
  +dark 
    color: #fff
  &:hover
    border-bottom: 2px solid $neutrals1
    transition: all 0.2s ease-out
    +dark 
        border-bottom: 2px solid #fff
  &:active
    border-bottom: 2px solid #fc4e03 
#cDrop
    display: flex
    width: 100px
    height: 25px
    padding-top: 2px
#cDrop svg
    width: 20px
    height: 20px
    margin-top: 2px


.usercontainer
    width: 55%
    display: flex
    justify-content: flex-end
    +x 
        margin-top: 10px
    +m 
        display: none

.notification
    // display: none
    margin-left: 20px
    +m
        margin-right: 20px
#community2
    display: flex
    width: 100px
#community2, i
    width: 100px
    background: $white


// ===================================================================
// burger css

.burger
    display: none
    +d
        display: block
        position: relative
        margin-left: 20px
        width: 32px
        height: 32px
        background: none
        -webkit-tap-highlight-color: rgba(0,0,0,0)
        &.active
            &:before
                transform: translateY(0) rotate(-45deg)
            &:after
                transform: translateY(0) rotate(45deg)
        &:before,
        &:after
            content: ''
            position: absolute
            top: 16px
            left: 6px
            width: 20px
            height: 2px
            background: $neutrals4
            border-radius: 2px
            transition: transform .2s
        &:before
            transform: translateY(-4px)
        &:after
            transform: translateY(3px)

li
    display: inline-block
    padding: 7px
    span
    color: $neutrals2
    transition: color .2s
    font-weight: 600
    +dark
        color: $neutrals7
    &.active
        position: absolute
        right: 60px
        font-size: 30px
        top: 200px
        &:nth-child(2)
            top: 300px
            right: 390px
        &:nth-child(3)
            top: 350px
            right: 460px
    
            
    

.mobileview
    display: none
    
    +m 
        display: block


.mobilebutton
    display: none
    color: $neutrals1
    +dark 
        color: $neutrals6
    +m
        display: block
        margin-top: 250px
        padding-top: 10px
        width: 90vw
    +a 
        width: 89vw
    +s  
        width: 87vw


.navtheme
    position: absolute
    right: 2%
    width: 8%
    margin-top: -15px
    +t 
        margin-top: -90px
        display: none
    +m 
        margin-top: -60px
        margin-right: 20px
        display: none
    +a 
        display: inline-block
        margin-top: -60px
        float: right
        display: none

    +s 
        margin-top: -60px
        display: none

    img
        width: 25px
        padding-bottom: 8px
.moonicon
    padding-left: 13px

.sunicon
    padding-right: 5px


.menumodal
    width: 90%
    margin-top: 25px
    margin-left: 5%
    h1
        text-align: center
        font-size: 34px
        margin-bottom: 40px
        +s 
            margin-top: 50px
            margin-bottom: 30px
            font-size: 28px

.linkmodal
    position: relative
    top: 0
    transition: top ease 0.25s
    &:hover
        top: -10px
    display: flex
    align-items: center
    padding: 32px 64px 32px 32px
    border-radius: 12px
    margin-bottom: 15px
    background-image: linear-gradient(to right, #f55f02 0%, #f5e102 100%) 
    +body-bold-1
    cursor: pointer   
    +m 
        margin-top: 45px
        &:nth-child(2)
            display: none
    &:nth-child(3)
        background-image: linear-gradient(to right, #3100e3 0%, #00bde3 100%) 
        margin-top: 5px
    &:hover
        .arrow
            opacity: 1
    &.active
        box-shadow: inset 0 0 0 2px $neutrals6
        +t
            box-shadow: none
        +dark
            box-shadow: inset 0 0 0 2px $neutrals3
            +t
                box-shadow: none
        .icon
            &:before
                opacity: 1
            svg
                &:first-child
                    opacity: 0
                &:nth-child(2)
                    opacity: 1
        .arrow
            opacity: 1

.iconmodal
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 64px
    height: 64px
    margin-right: 32px
    border-radius: 50%
    flex-shrink: 0
    +d
        margin-right: 24px
    +t
        margin-right: 16px
    

.buttonContainermodal
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    margin-top: 40px
    button
        width: 80%
        margin: auto
        display: flex
        align-items: center
        justify-content: center
        border-radius: 5px
        color: $neutrals1
        +dark 
            color: $neutrals6
        +m 
            font-size: 14px

.textContainer
    max-width: 250px
    width: 250px
    min-width: 250px
    margin-bottom: 40px
    margin-left: auto
    margin-right: auto

.titlemodal
    +s 
        font-size: 14px
        width: max-content

.textmodal
    text-align: center
    color: $neutrals6
    +body-bold-2
    font-size: 15px
    font-weight: 700
    +dark
    color: $neutrals4





       


