@import ../../styles/helpers

*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Ubuntu', sans-serif
.nav
    user-select: none
    height: 70px
    width: 100vw
    padding-left: 60px
    padding-right: 70px
    display: flex
    align-items: center
    +dark
        border-color: $neutrals3
    +t
        padding-left: 30px
        padding-right: 40px
    +m
        height: 50px
        padding-left: 20px
        padding-right: 10px
    &.active
.LogoLinkContainer
    width: 60%
    display: flex
    +w
    +x
    +t
    +m
        width: 70%
    +a
.usercontainer
    width: 40%
    display: flex
    justify-content: flex-end
    border: none
    +w
    +x
    +t
        padding-right: 20px
    +m
        width: 30%
    +a

.logo
    width: 30%
    +t
        width: 40%
    +a
        width: 100%
.pic
    width: 100%

.pic2
    display: none
.navLinksContainer
    width: 55%
    width: 100%
    margin-left: 20px

    +w
    +t
        width: 70%
        margin-left: 20px
    +m
        width: 80%
        position: relative

.navLinks
    width: 100%
    height: 100%
    display: flex 
    justify-content: space-around
    align-items: center
    user-select: none
    color: $neutrals1
    text-decoration: none  
    padding: 0      
    +dark
        color: #fff

.link
    font-size: 1vw
    font-weight: 700
    cursor: pointer
    +d
        font-size: 1.5vw
    +m 
        font-size: 2vw
    &:hover
        border-bottom: 2px solid $neutrals1
        // transition: all 0.2s ease-out
        +dark
            border-bottom: 2px solid #fff
.link:nth-child(1), .link:nth-child(2), .link:nth-child(3) 
    +m
        display: none
.link svg
    width: 15px
    margin-left: 5px
    +t
        width: 8px
.imgC
    display: none
    +m
        display: block
        position: absolute
        right: -50px
        top: 25%
        width: 19px
        height: 19px
        border-radius: 5px
        background: transparent
        display: flex 
        align-items: center
        justify-content: center
        +dark  
            background: transparent
    +a
        right: -20px

.imgC h1
    +m
        width: 20px
        height: 20px
        border: solid white 1px
        background: url(./listIcon.png) center center no-repeat
        background-size: 210%
        +dark
            width: 20px
            height: 20px            
            background: url(./lineIcon2.png) center center no-repeat
            background-size: 120% 100%
            border: solid white 0px

.link span
    +m
        display: none

.button
    margin-right: 15px
    +poppins
    text-transform: uppercase
    +dark
        color: $neutrals6
    +d
        margin-top: -5px


.ListIcon
    display: none
    +w
        width: 45px
        height: 45px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 100%
        background: $neutrals6
        border-radius: 50%
        border: solid $neutrals1 2px
        +dark
            background: $neutrals3
            border: solid $neutrals5 2px

.ListIcon li svg
    +w
        width: 25px
        height: 25px        
        fill: $neutrals1
        +dark
            fill: $neutrals7
        &:hover
            width: 232px
.ListIcon li svg:hover
    +w
        transition: all .5s ease
        width: 27px
        height: 27px
        fill: black
        filter: drop-shadow(0px -2px red)


.ListIcon li
    +w
        display: flex
        align-items: center
        justify-content: center

#logoutBtn
    +w
        display: none
        width: 45px
        height: 45px
        font-size: 8px
        border-radius: 100%
        margin: 0
#walletBtn
    +w
        width: 75px
        font-size: 13px
        border: none

.notification
    display: none
    +m
#community2
    display: flex
    width: 100px
#community2, i
    width: 100px
    background: $white

// ===================================================================
// burger css
#btn56
    +m
        display: none
.burger
    display: none



.mobilebutton
    display: none
    color: $neutrals1
    +dark
        color: $neutrals6

.moonicon
    padding-left: 13px

.sunicon
    padding-right: 5px

.menumodal
    width: 90%
    margin-top: 25px
    margin-left: 5%
    h1
        text-align: center
        font-size: 34px
        margin-bottom: 40px
        +s
            margin-top: 50px
            margin-bottom: 30px
            font-size: 28px

.linkmodal
    position: relative
    top: 0
    transition: top ease 0.25s
    display: flex
    align-items: center
    padding: 32px 64px 32px 32px
    border-radius: 12px
    margin-bottom: 15px
    background-image: linear-gradient(to right, #f55f02 0%, #f5e102 100%)
    +body-bold-1
    cursor: pointer
    &:hover
        top: -10px
    +m
        margin-top: 45px
        &:nth-child(2)
            display: none
    &:nth-child(3)
        background-image: linear-gradient(to right, #3100e3 0%, #00bde3 100%)
        margin-top: 5px
    &:hover
        .arrow
            opacity: 1
    &.active
        box-shadow: inset 0 0 0 2px $neutrals6
        +t
            box-shadow: none
        +dark
            box-shadow: inset 0 0 0 2px $neutrals3
            +t
                box-shadow: none
        .icon
            &:before
                opacity: 1
            svg
                &:first-child
                    opacity: 0
                &:nth-child(2)
                    opacity: 1
        .arrow
            opacity: 1

.iconmodal
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 64px
    height: 64px
    margin-right: 32px
    border-radius: 50%
    flex-shrink: 0
    +d
        margin-right: 24px
    +t
        margin-right: 16px

.buttonContainermodal
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    margin-top: 40px
    button
        width: 80%
        margin: auto
        display: flex
        align-items: center
        justify-content: center
        border-radius: 5px
        color: $neutrals1
        +dark
            color: $neutrals6
        +m
            font-size: 14px

.textContainer
    max-width: 250px
    width: 250px
    min-width: 250px
    margin-bottom: 40px
    margin-left: auto
    margin-right: auto

.titlemodal
    +s
        font-size: 14px
        width: max-content

.textmodal
    text-align: center
    color: $neutrals6
    +body-bold-2
    font-size: 15px
    font-weight: 700
    +dark
        color: $neutrals4

.containerInput
    display: none
    +w 
        position: relative
        padding-left: 65px
        display: flex
        align-items: center
        display: none

// ==============================================================
// drop Downs
.themeNav
    position: relative
    width: 50px
    position: absolute
    right: 0
    top: 0
#dropdownP #menuTop #menuItem 
    margin-bottom: 20px

#dropdownP, #dropdownC, #dropdownC2 
    position: absolute
    z-index: 100000
    top: 80px
    width: 225px
    background-color: $neutrals5
    border: 1px solid #474a4d
    border-radius: 5px
    // box-shadow: 0px 0px 10px rgb(555, 363, 140)
    padding: 1rem
    overflow: hidden
    transition: height .5s ease
    +dark
        background-color: black
        box-shadow: 0px 0px 10px white 

#dropdownP
    transform: translateY(3%) translateX(10%)
    +t
        top: 50px
        transform: translateY(3%) translateX(-5%)
    +a
        top: 50px
        transform: translateY(0%) translateX(-10%)
        width: 200px

#dropdownC
    transform: translateY(8%) translateX(-30%)
    width: 200px
    +t
        transform: translateY(8%) translateX(-100%)
        top: 50px
    +a
        top: 50px
        transform: translateY(0%) translateX(-80%)
        width: 150px

#dropdownC svg
    fill: $neutrals6
    +dark
        fill: $neutrals1
#menuTop
    width: 100%
    height: 300px
    display: flex
    flex-direction: column
    margin-bottom: 10px
#menu 
    width: 100%

#menuWords
    padding-left: 10px

#menuTop img
    width: 30px

#menuTop h1, #menuBottom h1
    font-size: 15px
    width: 100%
    +a 
        font-size: 13px
#menuTop h4, #menuBottom h4
    font-size: 12px
    color: $neutrals3
    +dark
        color: #5c5c5c
#menuTop button
    margin-left: 15px
    margin-right: 15px
    margin-top: 15px
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    border-radius: 20px
    font-weight: 700
    border: red solid 1px
    color: $neutrals3
    +dark
        border: red solid 1px
        color: white
#menuTop button:hover
    text-shadow: 1px 1px 10px $white
    transition: ease-in-out .2s
    box-shadow: 0px 0px 1px 1px red
    color: $neutrals3
    +dark
        text-shadow: 1px 1px 10px white
        color: $neutrals7

#menuTopTop #sss h4
    font-size: 12px
    background: -webkit-linear-gradient(45deg, #000 0%, #f55a00 20%, #ff1c59 70%, #000 90%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    +dark
        background: -webkit-linear-gradient(45deg, #ffffff 0%, #f55a00 20%, #ff1c59 51%, #ad1177 80%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
#menuBottom 
    padding-top: 30px
    height: 250px
    border-top: solid white 2px
    img
        width: 25px
        +dark 
            width: 23px

#menuItem
    width: 100%
    margin-bottom: 8px
    cursor: pointer
    color: $neutrals1
    height: 30px
    display: flex
    align-items: center
    border-radius: 15px
    transition: background .3s ease
    +dark
        color: white
#menuItem:hover
    h1
        font-weight: 700
        text-shadow: 1px 1px 6px white
#menuSocialIcons 
    display: flex
    width: 100%
    padding-bottom: 10px
    img
        width: 35px
        margin: 10px 5px 10px 2px
        +a 
            width: 23px

#menuBottom img:hover 
    filter: drop-shadow(0px 0px 1px white)
    width: 25px
    transition: ease-in-out .2s

#menuTop #menuItem:hover 
    img
        filter: drop-shadow(0px 0px 1px white)
        width: 33px
        transition: ease-in-out .2s

#menuSocialIcons img:hover
    filter: drop-shadow(0px 0px 1px white)
    width: 36px

#menuBottom #menuItem:hover
    img
        filter: drop-shadow(0px 0px 1px white)
        width: 26px


#arrowIconMenu
    height: 40px
    width: 100%
#arrowIconMenu h1
    padding-right: 20px
#arrowIconMenu svg
    fill: $neutrals6
    width: 20px
    padding-bottom: 5px
#arrowIconMenu svg:hover
    filter: drop-shadow(1px 1px 1px white)

.menuItemC
    height: 100%
.menuItemC h1
    font-size: 15px
.menuItemC #menuSocialIcons
    padding-top: 100px

