@import ../../styles/helpers

*
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Ubuntu', sans-serif
.header
    user-select: none
    position: relative
    display: flex
    align-items: center
    padding: 0px 100px 0px 50px
    height: 90px
    border-bottom: 2px solid $neutrals5
    +t 
        padding: 0px 0px 0px 0px
    +m
        padding: 0 0 0 0
        margin-bottom: 0px
        border: none
        height: 20px
    +a
        display: flex
        justify-content: content
        padding-top: 0px
        height: 150px
        border: none
    +dark
        border-color: $neutrals3

.container
    display: flex
    width: 100%
    align-items: center
    +t 
        width: 100%
    +m 
        width: 80%
    +a 
        width: 100%
        margin-bottom: -100px
        padding-left: 100px
        display: flex 
        justify-content: space-around
        align-items: center

    & > .button
        +poppins
        text-transform: uppercase
        +m
            display: none

.logo
    width: 14%
    +t
        width: 23%
    +m
        width: 60%
        div
            padding: 5px
            width: 150px
            height: 150px
            margin-left: -55px
            margin-top: -50px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 50%
            background: radial-gradient($neutrals8 20%,$neutrals5 40%,$neutrals4  60%,#0000 90%)   
            +dark
                background: radial-gradient($neutrals5 20%,$neutrals4 40%, #0000 70%)   
.pic
    width: 200px
    +w
        width: 175px
    +x
        width: 200px
    +t
        width: 150px
    +m
        display: none
        width: 400px
.pic2
    display: none
    +w
        width: 175px
    +x
        width: 200px
    +m 
        padding: 5px
        display: block
        width: 125px

// Search and Nav Container
.wrapper
    padding-left: 20px
    display: flex
    align-items: center
    width: 100%
    +t
        padding-left: 0px
    +x
    +m
        display: none



// Search\
.search
    position: relative
    width: 256px
    height: 40px
    padding: 15px
    margin-right: 50px
    border-radius: 15px
    border: 2px solid $neutrals2
    display: flex
    align-items: center
    +w
        margin-right: 20px
        margin-left: 10px
        display: none
    +t
        position: absolute
        width: 50px
        height: 50px
        right: 22%
        border-radius: 100%
        display: none
    +m
        right: 0%
        position: absolute

    +d
.inputComponentContainer
    width: 100%
    height: 100%

.input
    width: 100%
    height: 100%
    background: none

.button
    margin-right: 15px
    +poppins
    text-transform: uppercase
    +dark
        color: $neutrals6
    +d
        margin-top: -5px

.nav
    display: flex
    +w
        width: 100%
        margin-left: 70px
    +t
        margin-left: 25px
    +m
        margin-left: 0px
        margin-top: 50px

    +dark
        border-color: $neutrals3

.link
    display: flex
    flex-direction: row
    width: 100%
    +w
    +t

    +m

.ListIcon
    display: none
    +w
        width: 45px
        height: 45px
        // background: black
        // border-radius: 100%
        display: flex
        align-items: center
        justify-content: center
        border-radius: 100%
        background: $neutrals6
        border-radius: 50%
        border: solid $neutrals1 2px
        +dark
            background: $neutrals3
            border: solid $neutrals5 2px
        // svg 
        //     fill: $neutrals1
        //     +dark
        //         fill: $neutrals1

.ListIcon li svg
    +w
        width: 25px
        height: 25px        
        fill: $neutrals1
        +dark
            fill: $neutrals7
        &:hover
            width: 232px
.ListIcon li svg:hover
    +w
        transition: all .5s ease
        width: 27px
        height: 27px
        fill: black
        filter: drop-shadow(0px -2px red)


.ListIcon li
    +w
        display: flex
        align-items: center
        justify-content: center
        // width: 22px
.navlinks, .navlinksDrop
    user-select: none
    color: $neutrals1
    text-decoration: none
    margin-right: 10px
    padding-bottom: 3px
    +dark
        color: #fff
    &:hover
        border-bottom: 2px solid $neutrals1
        transition: all 0.2s ease-out
        +dark
            border-bottom: 2px solid #fff
    +w

.navlinksDrop
    padding: 5px
    padding-bottom: 0px
    margin-left: 5px
    cursor: pointer
.navlinksDrop svg
    margin-left: 5px
    width: 15px
    

// #cDrop
//     display: flex
//     width: 100px
//     +w
//         width: 100px
//         align-items: center
//     +w
// #cDrop, li
//     color: $neutrals4
//     transition: color .2s
//     font-weight: 600
//     +dark
//         color: $neutrals7
// #cDrop svg
//     width: 20px
//     height: 20px
//     margin-top: 2px
//     cursor: pointer
//     fill: $white

.usercontainer
    width: 45%
    display: flex
    justify-content: flex-end
    border: none
    +w
        width: 20%
    +x
        width: 50%
    +t
        width: 20%
    +m
        width: 10%
        margin-right: 5px
        margin-bottom: -30px
    +a
        margin-top: 0px
        width: 50%
        height: 50%
        display: flex
        align-items: center
        justify-content: center
        margin-top: 0px
#logoutBtn
    +w
        display: none
        width: 45px
        height: 45px
        font-size: 8px
        border-radius: 100%
        margin: 0
#walletBtn
    width: 175px
    +w
        width: 75px
        font-size: 13px
        border: none

.notification
    display: none
    +m
#community2
    display: flex
    width: 100px
#community2, i
    width: 100px
    background: $white

// ===================================================================
// burger css
#btn56
    +m
        display: none
.burger
    display: none

.link, li
    display: inline-block
    padding: 7px
    span
        color: $neutrals1
        transition: color .2s
        font-weight: 600
        +dark
            color: $neutrals7

.mobilebutton
    display: none
    color: $neutrals1
    +dark
        color: $neutrals6
    +m
        // display: none
        display: block
        margin-top: 250px
        padding-top: 10px
        width: 90vw
    +a
        width: 89vw
    +s
        width: 87vw

.moonicon
    padding-left: 13px

.sunicon
    padding-right: 5px

.menumodal
    width: 90%
    margin-top: 25px
    margin-left: 5%
    h1
        text-align: center
        font-size: 34px
        margin-bottom: 40px
        +s
            margin-top: 50px
            margin-bottom: 30px
            font-size: 28px

.linkmodal
    position: relative
    top: 0
    transition: top ease 0.25s
    display: flex
    align-items: center
    padding: 32px 64px 32px 32px
    border-radius: 12px
    margin-bottom: 15px
    background-image: linear-gradient(to right, #f55f02 0%, #f5e102 100%)
    +body-bold-1
    cursor: pointer
    &:hover
        top: -10px
    +m
        margin-top: 45px
        &:nth-child(2)
            display: none
    &:nth-child(3)
        background-image: linear-gradient(to right, #3100e3 0%, #00bde3 100%)
        margin-top: 5px
    &:hover
        .arrow
            opacity: 1
    &.active
        box-shadow: inset 0 0 0 2px $neutrals6
        +t
            box-shadow: none
        +dark
            box-shadow: inset 0 0 0 2px $neutrals3
            +t
                box-shadow: none
        .icon
            &:before
                opacity: 1
            svg
                &:first-child
                    opacity: 0
                &:nth-child(2)
                    opacity: 1
        .arrow
            opacity: 1

.iconmodal
    position: relative
    display: flex
    justify-content: center
    align-items: center
    width: 64px
    height: 64px
    margin-right: 32px
    border-radius: 50%
    flex-shrink: 0
    +d
        margin-right: 24px
    +t
        margin-right: 16px

.buttonContainermodal
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    margin-top: 40px
    button
        width: 80%
        margin: auto
        display: flex
        align-items: center
        justify-content: center
        border-radius: 5px
        color: $neutrals1
        +dark
            color: $neutrals6
        +m
            font-size: 14px

.textContainer
    max-width: 250px
    width: 250px
    min-width: 250px
    margin-bottom: 40px
    margin-left: auto
    margin-right: auto

.titlemodal
    +s
        font-size: 14px
        width: max-content

.textmodal
    text-align: center
    color: $neutrals6
    +body-bold-2
    font-size: 15px
    font-weight: 700
    +dark
        color: $neutrals4

.containerInput
    display: none
    +w 
        position: relative
        padding-left: 65px
        display: flex
        align-items: center
        display: none

.Search123
    display: none
    position: absolute
    margin: auto
    left: 0
    width: 45px
    height: 45px
    background: black
    border-radius: 50%
    transition: all 1s
    z-index: 4
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4)
    &:hover
        cursor: pointer
    &::before 
        content: ""
        position: absolute
        margin: auto
        top: 16px
        right: 3px
        bottom: 0
        left: 20px
        width: 10px
        height: 2px
        background: white
        transform: rotate(45deg)
        transition: all .5s
    &::after 
        content: ""
        position: absolute
        margin: auto
        top: -5px
        right: 0
        bottom: 0
        left: -5px
        width: 17px
        height: 17px
        border-radius: 50%
        border: 2px solid white
        transition: all .5s
.input 
    position: absolute
    margin: auto
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 50px
    outline: none
    border: none
    background: #f55a0083
    color: white
    text-shadow: 0 0 10px crimson
    padding: 0 0 0 53px
    border-radius: 30px
    box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2)
    transition: all 1s
    opacity: 0
    z-index: 5
    font-weight: bolder
    letter-spacing: 0.1em
    &:hover 
        cursor: pointer
    &:focus 
        width: 200px
        opacity: 1
        cursor: text
        left: -200px

    &:focus ~ .Search123 
        left: -165px
        background: #151515
        z-index: 6
        &::before 
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: 25px
            height: 2px
        &::after 
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: 25px
            height: 2px
            border: none
            background: white
            border-radius: 0%
            transform: rotate(-45deg)
    &::placeholder 
        color: white
        opacity: 1
        font-weight: bolder

.themeNav
    position: relative
    width: 50px
    position: absolute
    right: 0
    top: 0
// drop Downs
#dropdownP #menuTop #menuItem 
    margin-bottom: 20px

#dropdownP, #dropdownC, #dropdownC2 
    position: absolute
    z-index: 100000
    top: 80px
    width: 225px
    background-color: $neutrals5
    border: 1px solid #474a4d
    border-radius: 5px
    // box-shadow: 0px 0px 10px rgb(555, 363, 140)
    padding: 1rem
    overflow: hidden
    transition: height .5s ease
    +dark
        background-color: black
        box-shadow: 0px 0px 10px white 

#dropdownP
    transform: translateY(3%) translateX(33%)
    +x 
        transform: translateY(3%) translateX(0%)
    +a
        top: 100px
        transform: translateY(15%) translateX(-45%)
#dropdownC
    transform: translateY(8%) translateX(-30%)
    width: 200px
    +t
        transform: translateY(8%) translateX(-130%)
#dropdownC svg
    fill: $neutrals6
    +dark
        fill: $neutrals1
#menuTop
    width: 100%
    height: 300px
    display: flex
    flex-direction: column
    margin-bottom: 10px
#menu 
    width: 100%

#menuWords
    padding-left: 10px

#menuTop img
    width: 30px

#menuTop h1, #menuBottom h1
    font-size: 15px
    width: 100%

#menuTop h4, #menuBottom h4
    font-size: 12px
    color: $neutrals3
    +dark
        color: #5c5c5c
#menuTop button
    margin-left: 15px
    margin-right: 15px
    margin-top: 15px
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    border-radius: 20px
    font-weight: 700
    border: red solid 1px
    color: $neutrals3
    +dark
        border: red solid 1px
        color: white
#menuTop button:hover
    text-shadow: 1px 1px 10px $white
    transition: ease-in-out .2s
    box-shadow: 0px 0px 1px 1px red
    color: $neutrals3
    +dark
        text-shadow: 1px 1px 10px white
        color: $neutrals7

#menuTopTop #sss h4
    font-size: 12px
    background: -webkit-linear-gradient(45deg, #000 0%, #f55a00 20%, #ff1c59 70%, #000 90%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    +dark
        background: -webkit-linear-gradient(45deg, #ffffff 0%, #f55a00 20%, #ff1c59 51%, #ad1177 80%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
#menuBottom 
    padding-top: 30px
    height: 250px
    border-top: solid white 2px
    img
        width: 25px
        +dark 
            width: 23px

#menuItem
    width: 100%
    margin-bottom: 8px
    cursor: pointer
    color: $neutrals1
    height: 30px
    display: flex
    align-items: center
    border-radius: 15px
    transition: background .3s ease
    +dark
        color: white
#menuItem:hover
    h1
        font-weight: 700
        text-shadow: 1px 1px 6px white
#menuSocialIcons 
    display: flex
    width: 100%
    padding-bottom: 10px
    img
        width: 35px
        margin: 10px 5px 10px 2px

#menuBottom img:hover 
    filter: drop-shadow(0px 0px 1px white)
    width: 25px
    transition: ease-in-out .2s

#menuTop #menuItem:hover 
    img
        filter: drop-shadow(0px 0px 1px white)
        width: 33px
        transition: ease-in-out .2s

#menuSocialIcons img:hover
    filter: drop-shadow(0px 0px 1px white)
    width: 36px

#menuBottom #menuItem:hover
    img
        filter: drop-shadow(0px 0px 1px white)
        width: 26px
/* CSSTransition classes  */
// #menuPrimary-enter 
//   position: absolute
//   transform: translateX(-110%)

// #menuPrimary-enter-active 
//     transform: translateX(0%)
//     transition: all .8s ease
// #menuPrimary-exit 
//     position: absolute

// #menuPrimaryExitActive 
//     transform: translateX(0%)
//     transition: all .8s ease

// #menuSecondaryEnter 
//     transform: translateX(150%)
//     transition: all .8s ease

// #menuSecondary-enter-active 
//     transform: translateX(0%)
//     transition: all .8s ease

// #menuSecondary-exit 


// #menuSecondary-exit-active 
//     transform: translateX(110%)
//     transition: all .8s ease



#arrowIconMenu
    height: 40px
    width: 100%
#arrowIconMenu h1
    padding-right: 20px
#arrowIconMenu svg
    fill: $neutrals6
    width: 20px
    padding-bottom: 5px
#arrowIconMenu svg:hover
    filter: drop-shadow(1px 1px 1px white)

.menuItemC
    height: 100%
.menuItemC h1
    font-size: 15px
.menuItemC #menuSocialIcons
    padding-top: 100px

