@import ../../styles/helpers

.theme
    display: inline-block
    position: relative
    user-select: none 
    cursor: pointer
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    font-size: 0
    position: absolute
    right: 10px

.divider
    color: #828282

// .sunicon 
//     position: absolute
//     right: 0
//     width: 25px
//     height: 25px
//     border-radius: 50%
//     background: $neutrals3
//     z-index: 100000
// .moonicon
//     position: absolute
//     left: 100px
//     width: 25px
//     height: 25px
//     border-radius: 50%
//     background: $neutrals3
//     z-index: 100000

.input
    position: absolute
    right: 0
    top: 0
    opacity: 0

    &:checked + .inner .box
        background: $neutrals3
        +dark

            background: url(https://media.istockphoto.com/vectors/day-night-switch-simple-dark-mode-switch-icon-concept-of-gadget-to-vector-id1263637388?k=20&m=1263637388&s=170667a&w=0&h=oGQ-AANW4U7jhuE1j_r7elmgoWhH2ER62l5UjVRwitM=) -100px center no-repeat
            background-size: 180px 70px
        &:before
            transform: translate(-121%,0%)

.inner
    position: relative
    display: inline-block

.box
    position: relative
    display: block
    margin-top: 20px
    margin-right: 5px
    width: 60px
    height: 28px
    background: url(https://media.istockphoto.com/vectors/day-night-switch-simple-dark-mode-switch-icon-concept-of-gadget-to-vector-id1263637388?k=20&m=1263637388&s=170667a&w=0&h=oGQ-AANW4U7jhuE1j_r7elmgoWhH2ER62l5UjVRwitM=) -16px center no-repeat
    background-size: 180px 70px
    border-radius: 14px 
    +dark
        background: url(https://media.istockphoto.com/vectors/day-night-switch-simple-dark-mode-switch-icon-concept-of-gadget-to-vector-id1263637388?k=20&m=1263637388&s=170667a&w=0&h=oGQ-AANW4U7jhuE1j_r7elmgoWhH2ER62l5UjVRwitM=) -18px center no-repeat
    &:before
        content: ""
        position: absolute
        top: 15%
        right: 15%
        transform: translateX(30%)	
        width: 20px
        height: 20px
        border-radius: 50%
        background: $neutrals5
        box-shadow: 0px 0px 5px 5px $neutrals7
        +dark
            background: black
            box-shadow: 0px 0px 5px 5px white

.themeBig
    .box
        width: 40px
        height: 18px
        border-radius: 12px 
        &:before
            left: 4px
            width: 16px
            height: 16px
    .input
        &:checked + .inner .box
            &:before
                transform: translate(-24px,-50%)







