@import ../../styles/helpers

    
.head
    margin-bottom: 80px
    padding-bottom: 40px
    border-bottom: 2px solid $neutrals6
    +m
        margin-bottom: 40px
        padding-bottom: 24px
    +dark
        border-color: $neutrals3